.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around;
    height: 500px;
}

.box {
    width: 20vw;
    height: 40vh;
    border: black solid 1px;
    padding: 5px;
    background: tomato;
    color: white;
    transition: all 0.2s linear;
}

.grow {
    width: 30vw;
    height: 50vh;
    transition: all 0.2s linear;
}
